.btn {
  border-radius: 30px;
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: bold;
  transition: all ease 0.6;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0 16px;
  font-size: 12px;
  line-height: 34px;
  transition: all ease 0.6;

  &.btn-primary {
    background: #AB5A82;
    border-radius: 4px;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-weight: 400;
    border: none;
    border: 1px solid transparent;
    &:hover{
      background: transparent;
      border: 1px solid #AB5A82;
      color: #fff;
    }
  }
}